<!doctype html>
<html ng-app="app" ng-csp>
    <head>
			<title>Options</title>
			<link rel="stylesheet" href="libs/bootstrap.css">
			<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      table {
      	table-layout: fixed;
      }
    	</style>
			<script src="libs/angular.min.js"></script>
			<script src="libs/jquery-2.0.3.min.js"></script>
			<script src="libs/ui-bootstrap-tpls-0.5.0.min.js"></script>
			<script src="libs/bootstrap.min.js"></script>
			<script src="libs/truncate.js"></script>
			<script src="options.js"></script>
    </head>
    <body ng-controller="OptionsCtrl">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
				<a class="brand" href="#">ChromeLogger</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
					  <li><a href="/viewer.html">Viewer</a></li>
					  <li class="active"><a href="/options.html">Options</a></li>
					  <li><a href="/about.html">About</a></li>
					</ul>
				</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<select ng-model="saveType" ng-change="save()">
					<option value="normal">Normal</option>
					<option value="detailed">Detailed</option>
				</select>

				<input type="checkbox" ng-model="saveAll" ng-change="save()">

				<input type="text" ng-model="daysToClear" placeholder="Days to clear">
				<input type="button" ng-model="clear" ng-click="clear()" value="Clear">
				{{usageMB}} MB used
			</div> <!-- /row-fluid -->
		</div> <!-- /container-fluid -->
    </body>
</html>

