<!doctype html>
<html ng-app="app" ng-csp>
    <head>
			<title>Log Viewer</title>
			<link rel="stylesheet" href="libs/datepickr.css">
			<script src="libs/jquery-2.0.3.min.js"></script>
			<script src="libs/angular.min.js"></script>
			<script src="viewer.js"></script>
    </head>
    <body ng-controller="MainCtrl">
		<input type="text" id="picker" value="">
		<input type="button" ng-click="load()" value="Load">
		<input type="text" value="{{usageMB}}">
		<input type="text" ng-model="sort" placeholder="Filter">
		<table class="pure-table pure-table-bordered">
		<thead>
		<tr>
		<th>Date</th>
		<th>Website</th>
		<th>Keys</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="log in logs | filter:sort">
		<td>{{log[0] | date:'medium'}}</td>
		<td><a ng-href="{{log[1][1]}}">{{log[1][0]}}</a></td>
		<td>{{log[1][2]}}</td>
		</tr>
		</tbody>
		</table>
    </body>
    <script src="libs/datepickr.js"></script>
</html>

