<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
    <script src="lib/angular.min.js"></script>
    <script src="lib/ng-quick-date.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/ng-quick-date-plus-default-theme.css" media="all" />
    <script src="viewer.js"></script>
</head>
<body ng-controller="ViewerCtrl">
    <quick-datepicker placeholder="Select Start Date" label-format="MMM d H:mm" ng-change="date()" ng-model="aDatepicker"></quick-datepicker>
    Search: <input type="text" ng-model="filter" /> 
    <br />
    <table>
    <thead>
    <tr>
        <th style="width: 10%;">Date</th>
        <th style="width: 20%;">Website</th>
        <th style="width: 70%;">Keys</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="log in logs | filter:filter">
        <td >{{log[0] | date:'MMM d H:mm'}}</td>
        <td><a ng-href="{{log[1][1]}}" title="{{log[1][0]}}" target="_blank">{{log[1][0]|truncate:25}}</a></td>
        <td>{{log[1][2]}}</td>
    </tr>
    </tbody>
    </table>
</body>
</html>